@(form: Form[HomeForm])(implicit messages: Messages)
@main(title = Messages("brand")) {
    @nav("active", "","")
} {
    <h1>@Messages("home.title")</h1>
    <p class="lead">
    @Messages("home.description", Messages("brand"))
    </p>
    <form id="form" action="@routes.WebApp.postActive()" method="post">
        <div class="form-group">
        @helper.checkbox(form("active"),
            'class -> "form-control",
            '_label -> Messages("user.options.active", Messages("brand")),
            '_help -> Messages("user.options.active.helptext", Messages("brand")),
            'id -> form("active").name,
            'onChange -> "document.getElementById('form').submit()")
        </div>
    </form>
}