@*
@(facebookPageForm: Form[FacebookPageForm], facebookPageOptions: Seq[(String, String)], calendarOptions: Seq[(String, String)])(implicit messages: Messages)
    @main(title = Messages("brand")) {
        @nav("", "")
    } {
        <h1 class="cover-heading">@Messages("page.title")</h1>
        <p class="lead">
        @Messages("page.description", Messages("brand"))
        </p>
        <form action="@routes.WebApp.complete()" method="post">
            <div class="form-group">
                <label for="page-selection">@Messages("page.select")</label>
                <select name="pageId" id="page-selection" class="form-control">
                @for(p <- facebookPageOptions) {
                    <option value="@p._1">@p._2</option>
                }
                </select>
            </div>
            <div class="form-group">
                @helper.select(facebookPageForm("calendar"), calendarOptions, 'class -> "form-control",
                '_label -> Messages("page.calendar.label", Messages("brand")))
            </div>
            <div class="form-group">
                @helper.inputText(facebookPageForm("name"), 'class -> "form-control",
                    'placeholder -> Messages("page.name.placeholder", Messages("brand")),
                    '_label -> Messages("page.name.label", Messages("brand")))
                <p>Messages("page.name.helptext")</p>
            </div>
            <div class="form-group">
                @helper.inputText(facebookPageForm("appointmentVerb"), 'class -> "form-control",
                    'placeholder -> Messages("page.name.placeholder", Messages("brand")),
                    '_label -> Messages("page.name.label", Messages("brand")))
                <p>Messages("page.name.helptext")</p>
            </div>
            <button class="btn btn-lg btn-default">@Messages("page.button")</button>
        </form>
    }
    *@
